@charset "UTF-8";
@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
:root {
  --jost: "Jost", sans-serif;
  --bebas: "Bebas Neue", cursive;
  --green: #00F0C0;
  --col02: #007579;
  --col03: #fff100;
  --col04: #333333;
  --col05: #333333;
  --white: #ffffff;
  --col07: #1b1b1b;
  --black: #1B1E1E;
  --fsz: 16px;
  --bdr-op: 0.1;
}

/* bebas-neue-regular - latin */
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/bebas-neue-400.woff2") format("woff2"), url("../fonts/bebas-neue-400.woff") format("woff");
}
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/bebas-neue-700.woff") format("woff"), url("../fonts/bebas-neue-700.woff2") format("woff2");
}
/* jost-300 - latin_cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/jost-300.woff2") format("woff2"), url("../fonts/jost-300.woff") format("woff");
}
/* jost-regular - latin_cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/jost-400.woff2") format("woff2"), url("../fonts/jost-400.woff") format("woff");
}
/* jost-700 - latin_cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/jost-700.woff2") format("woff2"), url("../fonts/jost-700.woff") format("woff");
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: var(--jost);
  background-color: #1b1e1e;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fsz);
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

.body {
  min-height: 100vh;
}
.body--inner-page {
  min-height: initial;
  padding-top: 144px;
}
.body--inner-page .header__grid {
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 32px 0;
}
.body--inner-page.header-sticky .header__grid {
  border-color: transparent;
}
.body--inner-page .title {
  font-size: 80px;
  margin-bottom: 0.5em;
}
@media (max-width: 1250px) {
  .body--inner-page {
    padding-top: 90px;
  }
}
@media (max-width: 768px) {
  .body--inner-page .title {
    font-size: 64px;
  }
}
@media (max-width: 425px) {
  .body--inner-page .title {
    font-size: 40px;
  }
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1488px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 650px) {
  .wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 370px) {
  .wrapper {
    padding: 0 15px;
  }
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  text-decoration: none;
  padding: 12px 18px;
  height: 48px;
  background-color: var(--green);
  border: 1px solid;
  border-color: var(--green);
  cursor: pointer;
  box-shadow: none;
  border-radius: 40px;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  font-family: var(--jost);
}
.button--transparent {
  background-color: transparent;
  color: var(--green);
}
.button--icon {
  display: flex;
  align-items: center;
}
.button--icon svg {
  margin-left: 10px;
}
.button--big {
  padding: 28px 40px;
  height: initial;
  font-size: 16px;
}
@media (max-width: 768px) {
  .button--big {
    padding: 20px 30px;
    font-size: 14px;
  }
}

.title {
  font-weight: 700;
  line-height: 1.12;
  color: var(--white);
  margin: 0;
  margin-bottom: 5px;
  font-family: var(--bebas);
  text-transform: uppercase;
  font-size: 64px;
}
@media (max-width: 650px) {
  .title {
    font-size: 40px;
  }
}

.accordion {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
}
.accordion__top {
  padding: 19px 23px;
  display: grid;
  grid-template-columns: 10px auto;
  gap: 24px;
  align-items: center;
  cursor: pointer;
}
.accordion__top svg {
  pointer-events: none;
  transition: all 0.3s;
  transform: rotate(0);
}
.accordion__top .line {
  transform: translateY(8px);
  transition: all 0.3s;
}
.accordion__title {
  font-family: var(--bebas);
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  pointer-events: none;
  transition: all 0.3s;
}
.accordion__body {
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.accordion__top.active .accordion__title {
  color: var(--green);
}
.accordion__top.active svg {
  transform: rotate(180deg);
}
.accordion__top.active .line {
  transform: translateY(0);
  transition: all 0.3s;
}
.accordion__top.active + .accordion__body {
  padding: 17px 0;
  opacity: initial;
  visibility: initial;
  height: initial;
  overflow: initial;
}
.accordion + .accordion {
  border-top: none;
}
@media (max-width: 920px) {
  .accordion__top.active + .accordion__body {
    padding: 16px 0 50px;
  }
}
@media (max-width: 768px) {
  .accordion__top {
    padding: 16px;
  }
}

.grid-layer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  align-items: center;
}
.grid-layer__left {
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;
}
.grid-layer__right {
  z-index: 0;
  grid-column-start: 6;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 1;
}
.grid-layer .title {
  font-size: 120px;
  margin-bottom: 0;
}
@media (max-width: 1400px) {
  .grid-layer .title {
    font-size: 95px;
  }
}
@media (max-width: 1250px) {
  .grid-layer .title {
    font-size: 80px;
  }
}
@media (max-width: 768px) {
  .grid-layer {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .grid-layer__right {
    grid-column-start: initial;
    grid-column-end: initial;
    grid-row-start: initial;
    grid-row-end: initial;
  }
  .grid-layer__left {
    grid-column-start: initial;
    grid-column-end: initial;
    grid-row-start: initial;
    grid-row-end: initial;
  }
  .grid-layer__right {
    order: -1;
  }
  .grid-layer__right img {
    height: 320px;
    width: 440px;
    object-fit: contain;
    display: block;
    margin-right: auto;
  }
}

.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  left: 0;
  right: 0;
  transition: all 0.3s;
}
.header__grid {
  display: flex;
  align-items: center;
  padding: 32px 0 24px;
  transition: all 0.3s;
}
.header__button {
  flex-shrink: 0;
}
.header__button .button {
  padding: 12px 24px;
}
.header__menu-button {
  display: none;
  margin-left: 16px;
}
.header .logo {
  margin-right: 29px;
}
.header .menu {
  max-width: 640px;
  margin-right: auto;
}
.header .social {
  margin-left: 16px;
  max-width: 112px;
}
.header .tel {
  max-width: 210px;
  margin-right: 16px;
  margin-left: 16px;
  flex-shrink: 0;
}
@media (max-width: 1270px) {
  .header .header__grid {
    padding: 20px 0;
  }
  .header__menu-button {
    display: block;
  }
  .header .menu {
    display: none;
  }
  .header .logo {
    margin-right: auto;
  }
}
@media (max-width: 900px) {
  .header .tel {
    display: none;
  }
}
@media (max-width: 650px) {
  .header__button {
    display: none;
  }
  .header__menu-button {
    margin-left: 10px;
  }
  .header .social {
    margin-left: 10px;
  }
}
@media (max-width: 370px) {
  .header .social {
    margin-left: 6px;
  }
  .header .social__item {
    margin-right: 6px;
  }
  .header__menu-button {
    margin-left: 6px;
  }
}
.header-sticky .header {
  background-color: var(--black);
}
.header-sticky .header__grid {
  padding: 12px 0;
}

.logo {
  width: 180px;
}
.logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.logo img {
  display: block;
  width: 100%;
}
@media (max-width: 650px) {
  .logo {
    width: 170px;
  }
}
@media (max-width: 370px) {
  .logo {
    width: 140px;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: max-content;
}
.menu__item {
  margin-right: 6px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  font-family: var(--jost);
  transition: all 0.3s;
  padding: 13px 20px;
  border-radius: 24px;
}
.menu__link:hover {
  background-color: var(--white);
  color: var(--black);
}

.tel__link {
  font-family: var(--bebas);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
}

.social__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.social__item {
  margin-right: 16px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid #00f0c0;
  border-radius: 50%;
  position: relative;
}
.social__link svg {
  position: absolute;
  width: 18px;
  pointer-events: none;
}
@media (max-width: 650px) {
  .social__link {
    height: 40px;
    width: 40px;
  }
  .social__item {
    margin-right: 10px;
  }
  .social svg {
    width: 14px;
  }
}

.nav-button {
  box-shadow: none;
  transform: none;
  border: none;
  height: 48px;
  width: 48px;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}
.nav-button span {
  width: 18px;
  height: 2px;
  background-color: var(--black);
  display: block;
  border-radius: 0;
  pointer-events: none;
  transition: all 0.2s;
}
.nav-button span::before, .nav-button span::after {
  content: "";
  width: inherit;
  height: inherit;
  background-color: var(--black);
  display: inherit;
  position: absolute;
  border-radius: inherit;
  pointer-events: initial;
  transition: initial;
}
.nav-button span:before {
  margin-top: -6px;
}
.nav-button span::after {
  margin-top: 6px;
}
.nav-button.open span {
  background-color: transparent;
  border-radius: 0;
}
.nav-button.open span:before {
  margin-top: 0;
  transform: rotate(45deg);
}
.nav-button.open span:after {
  margin-top: 0;
  transform: rotate(-45deg);
}
@media (max-width: 650px) {
  .nav-button {
    height: 40px;
    width: 40px;
  }
}

.first-screen {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}
.first-screen::after {
  content: "";
  display: block;
  background: linear-gradient(180deg, rgba(27, 30, 30, 0.6) -0.93%, rgba(27, 30, 30, 0) 19.63%), linear-gradient(0deg, #1b1e1e 0%, rgba(27, 30, 30, 0) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.first-screen__flex {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  padding: 20px 0;
  padding-top: 130px;
  gap: 16px;
  min-height: 530px;
}
.first-screen__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first-screen .wrapper {
  position: relative;
  z-index: 2;
}
.first-screen .title {
  font-weight: 700;
  font-size: 180px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
.first-screen .title span {
  color: #00f0c0;
}
.first-screen__video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.first-screen__video video {
  display: block;
  width: inherit;
  height: inherit;
  object-fit: cover;
}
@media (max-width: 1300px) {
  .first-screen .title {
    font-size: 155px;
  }
}
@media (max-width: 1024px) {
  .first-screen .title {
    font-size: 120px;
  }
  .first-screen .link-more__text {
    font-size: 55px;
  }
}
@media (max-width: 768px) {
  .first-screen .title {
    font-size: 90px;
  }
  .first-screen .link-more__text {
    font-size: 45px;
  }
  .first-screen__flex {
    padding-top: 120px;
  }
}
@media (max-width: 550px) {
  .first-screen .title {
    font-size: 75px;
  }
}
@media (max-width: 425px) {
  .first-screen .title {
    font-size: 60px;
  }
  .first-screen .subtitle {
    font-size: 18px;
  }
  .first-screen .link-more__text {
    font-size: 40px;
  }
  .first-screen .link-more .button {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}
@media (max-width: 370px) {
  .first-screen .title {
    font-size: 55px;
  }
}

.subtitle {
  margin: 0;
  font-family: inherit;
  font-weight: 300;
  font-size: 32px;
  line-height: 1.25;
  color: #ffffff;
  margin-bottom: 0.6em;
}

.link-more {
  display: flex;
  align-items: center;
}
.link-more .button {
  width: 48px;
  height: 48px;
  max-width: initial;
  padding: 1%;
}
.link-more__text {
  font-family: var(--bebas);
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
}
.link-more .button {
  width: 48px;
  height: 48px;
  pointer-events: none;
  cursor: initial;
  margin-right: 24px;
  background-color: transparent;
}

@media (max-width: 1250px) {
  .first-screen-inner .subtitle {
    font-size: 20px;
    padding-bottom: 1em;
  }
  .first-screen-inner .text {
    margin: 1em 0;
  }
}
@media (max-width: 900px) {
  .first-screen-inner .title {
    font-size: 65px;
  }
}
@media (max-width: 768px) {
  .first-screen-inner .title {
    font-size: 63px;
  }
  .first-screen-inner .subtitle {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  .first-screen-inner .title {
    font-size: 40px;
  }
}

.first-screen-inner .services__buttons .button {
  padding: 30px 70px;
}
.first-screen-inner .services__text {
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .first-screen-inner .services__buttons .button {
    padding: 1.3em 3em;
    font-size: 14px;
  }
  .first-screen-inner .services__text {
    margin-bottom: 1em;
  }
}
@media (max-width: 768px) {
  .first-screen-inner .services__buttons .button {
    padding: 20px 30px;
    font-size: 14px;
  }
}

.services {
  padding-top: 36px;
}
.services__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.services__item-grid {
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 32px;
  align-items: center;
}
.services__subtitle {
  font-family: var(--bebas);
  font-weight: 700;
  font-size: 80px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 0;
  color: #ffffff;
  margin-bottom: 0.2em;
}
.services__lead {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.33;
  color: #ffffff;
  padding-bottom: 32px;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
  max-width: max-content;
}
.services__text {
  margin: 30px 0;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 18px;
}
.services__buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.services__buttons .button {
  margin-right: 32px;
  padding: 12px 24px;
}
.services__buttons .button:last-child {
  margin-right: 0;
}
.services .button {
  padding: 12px 24px;
}
@media (max-width: 920px) {
  .services__item-grid {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .services__item-right {
    order: -1;
  }
  .services__item-right img {
    height: 320px;
    width: 440px;
    object-fit: contain;
    display: block;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .services__subtitle {
    font-size: 63px;
  }
  .services__lead {
    font-size: 20px;
    margin-bottom: 1.4em;
  }
  .services__text {
    margin: 1.4em 0;
    font-size: 16px;
  }
  .services--first-screen .services__subtitle {
    font-size: 75px;
  }
}
@media (max-width: 425px) {
  .services__subtitle {
    font-size: 40px;
  }
  .services__buttons .button {
    margin-right: 15px;
  }
  .services__item-right img {
    height: 235px;
  }
  .services__lead {
    font-size: 18px;
  }
}
@media (max-width: 370px) {
  .services__buttons .button {
    margin-right: 12px;
    font-size: 12px;
  }
}

.personal-card {
  padding-top: 80px;
}
.personal-card__grid {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 32px;
  align-items: center;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
}
.personal-card__photo img {
  display: block;
  width: 100%;
}
.personal-card__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: var(--bebas);
  font-weight: 700;
  font-size: 80px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #ffffff;
}
.personal-card__lead {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.33;
  color: #ffffff;
  padding-bottom: 32px;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 30px;
}
.personal-card__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.personal-card__list li {
  position: relative;
  margin-bottom: 1em;
}
.personal-card__list li:last-child {
  margin-bottom: 0;
}
.personal-card__list li:before {
  content: "— ";
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #00f0c0;
}
@media (max-width: 1440px) {
  .personal-card__grid {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: self-end;
  }
  .personal-card__title {
    margin-bottom: 0.2em;
    font-size: 64px;
    line-height: 1;
  }
  .personal-card__lead {
    font-size: 20px;
    padding-bottom: 0.8em;
    margin-bottom: 0.8em;
  }
  .personal-card__list li {
    margin-bottom: 0.5em;
  }
}
@media (max-width: 1000px) {
  .personal-card__grid {
    grid-template-columns: 1fr;
    border-bottom: none;
  }
  .personal-card__photo {
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.2);
  }
  .personal-card__photo img {
    object-fit: contain;
    max-height: 450px;
    max-width: 425px;
    margin-right: auto;
  }
  .personal-card__title {
    font-size: 55px;
    margin-bottom: 0.5em;
  }
}
@media (max-width: 425px) {
  .personal-card {
    padding-top: 50px;
  }
  .personal-card__title {
    font-size: 40px;
  }
  .personal-card__lead {
    font-size: 18px;
  }
}

.benefits__grid {
  padding: 45px 0 40px;
  list-style: none;
  margin: 0;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(4, 1fr);
}
.benefits__icon {
  margin-bottom: 19px;
  max-height: 48px;
}
.benefits__name {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 16px;
  font-family: var(--bebas);
  max-width: 270px;
}
.benefits__description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 1024px) {
  .benefits__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425px) {
  .benefits__grid {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 24px;
    padding-bottom: 50px;
  }
  .benefits__icon {
    margin-bottom: 16px;
  }
  .benefits__name {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.title + .benefits__grid {
  padding-top: 0;
}

.faq {
  padding: 70px 0 60px;
}
.faq__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.faq__item {
  border: 1px solid;
  border-color: var(--green);
  border-radius: 40px;
  background-color: rgba(0, 240, 192, 0.08);
  padding: 50px 48px 42px;
}
.faq__icon {
  margin-bottom: 10px;
}
.faq__title {
  font-family: var(--bebas);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 0.725em;
  padding-bottom: 0.725em;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
}
.faq__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
  opacity: 0.7;
  margin: 0;
}
@media (max-width: 1200px) {
  .faq__title {
    font-size: 32px;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
  }
}
@media (max-width: 900px) {
  .faq__list {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .faq {
    padding: 50px 0;
  }
}
@media (max-width: 425px) {
  .faq__icon {
    margin-bottom: 0;
  }
  .faq__item {
    padding: 2em 1.6em;
    padding-bottom: 3em;
  }
  .faq__title {
    font-size: 25px;
  }
  .faq__text {
    font-size: 16px;
  }
}

.announce-cards {
  padding: 100px 0 45px;
}
.announce-cards__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.announce-cards__item {
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  overflow: hidden;
}
.announce-cards__image {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
  padding: 22px;
}
.announce-cards__image img {
  display: block;
  max-height: 230px;
}
.announce-cards__name {
  margin: 0;
  font-family: var(--bebas);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
}
.announce-cards__text {
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  padding-bottom: 21px;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 23px;
  font-size: 18px;
}
.announce-cards__body {
  padding: 48px;
  padding-top: 34px;
}
.announce-cards__body ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}
.announce-cards__body li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
  margin-bottom: 1.8em;
}
.announce-cards__label {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1;
  font-weight: 300;
  font-size: 18px;
  text-align: left;
}
.announce-cards__price {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  text-align: right;
  color: #00f0c0;
}
.announce-cards__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.announce-cards__buttons .button {
  width: initial;
  max-width: initial;
}
@media (max-width: 1408px) {
  .announce-cards__body {
    padding: 3.5em 2.5em;
  }
  .announce-cards__buttons {
    gap: 16px;
  }
}
@media (max-width: 1260px) {
  .announce-cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 960px) {
  .announce-cards__body {
    padding: 2.5em;
  }
  .announce-cards__buttons {
    grid-template-columns: 1fr;
  }
  .announce-cards__price {
    font-size: 18px;
  }
  .announce-cards__body li {
    margin-bottom: 1em;
  }
}
@media (max-width: 800px) {
  .announce-cards__list {
    gap: 32px 16px;
  }
  .announce-cards__name {
    font-size: 28px;
  }
  .announce-cards__text, .announce-cards__label, .announce-cards__price {
    font-size: 16px;
  }
  .announce-cards__text {
    padding-bottom: 1em;
    margin-bottom: 1.5em;
  }
  .announce-cards__body {
    padding: 1.6em;
    padding-bottom: 2em;
  }
  .announce-cards__body li {
    grid-template-columns: 1fr;
    gap: 6px;
    margin-bottom: 1.2em;
  }
  .announce-cards__price {
    text-align: inherit;
  }
  .announce-cards .button {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .announce-cards {
    padding: 50px 0;
  }
}
@media (max-width: 650px) {
  .announce-cards__list {
    grid-template-columns: 1fr;
  }
  .announce-cards__body li {
    grid-template-columns: 1fr 2fr;
  }
}
@media (max-width: 425px) {
  .announce-cards {
    padding: 0;
  }
}

.call-to-action .title {
  font-family: var(--bebas);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
  color: #ffffff;
  font-size: 120px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 29px;
  max-width: max-content;
}
.call-to-action__subtitle {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.33;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 24px;
}
.call-to-action .button {
  margin-right: 0;
  padding: 30px 80px;
  height: initial;
  font-size: 16px;
}
@media (max-width: 1400px) {
  .call-to-action .title {
    font-size: 95px;
  }
}
@media (max-width: 1250px) {
  .call-to-action {
    padding-bottom: 32px;
  }
  .call-to-action .title {
    font-size: 80px;
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
  }
}
@media (max-width: 1024px) {
  .call-to-action .button {
    padding: 1.3em 3em;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .call-to-action .title {
    font-size: 63px;
  }
}
@media (max-width: 710px) {
  .call-to-action {
    padding-bottom: 0;
  }
}
@media (max-width: 425px) {
  .call-to-action .title {
    font-size: 40px;
  }
  .call-to-action .grid-layer__right img {
    height: 250px;
  }
}

.footer {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--jost);
}
.footer__flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 31px 0 32px;
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
}
.footer .copyright {
  margin-right: auto;
}
.footer .developer-link {
  margin-left: 16px;
}
@media (max-width: 710px) {
  .footer {
    padding: 27px 0 30px;
  }
  .footer__flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .copyright {
    margin-bottom: 12px;
  }
  .footer .developer-link {
    margin-left: 0;
  }
  .footer .developer-link .icon {
    order: -1;
    margin-left: 0;
    margin-right: 10px;
  }
}

.copyright {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  display: flex;
  align-items: center;
}
.copyright .icon {
  margin-right: 16px;
}
.copyright p {
  margin: 0;
}
@media (max-width: 710px) {
  .copyright .icon {
    margin-right: 10px;
  }
}

.icon {
  width: 40px;
}

.developer-link {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  display: flex;
  align-items: center;
}
.developer-link .icon {
  margin-left: 16px;
}
.developer-link a {
  color: var(--green);
  text-decoration: none;
  margin-left: 0.3em;
}