:root {
  --jost: "Jost", sans-serif;
  --bebas: "Bebas Neue", cursive;
  --green: #00F0C0;
  --col02: #007579;
  --col03: #fff100;
  --col04: #333333;
  --col05: #333333;
  --white: #ffffff;
  --col07: #1b1b1b;

  --black: #1B1E1E;

  --fsz: 16px;
  --bdr-op: 0.1;
}
