.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  text-decoration: none;
  padding: 12px 18px;
  height: 48px;
  background-color: var(--green);
  border: 1px solid;
  border-color: var(--green);
  cursor: pointer;
  // box-shadow: none;
  border-radius: 40px;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  font-family: var(--jost);
  overflow: hidden;
  transition: all 0.8s;

  span {
    position: relative;
    z-index: 2;
  }

  &:hover {
    border-color: #ffcd67;
    span {
      color: black;
    }
    &::before {
      width: 600px;
      height: 600px;
    }
  }

  &--transparent {
    background-color: transparent;
    color: var(--green);
  }
  &--icon {
    display: flex;
    align-items: center;
    svg {
      margin-left: 10px;
    }
  }

  &--big {
    padding: 28px 40px;
    height: initial;
    font-size: 16px;
  }

  @media (max-width: 768px) {
    &--big {
      padding: 20px 30px;
      font-size: 14px;
    }
  }
}

.ripple {
  position: relative;
  overflow: hidden;
  transition: background-color 0.8s, color 0.8s, border-color 0.8s;

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: var(--y);
    left: var(--x);
    border-radius: 50%;
    background-color: #ffcd67;
    z-index: 1;
    transition: width 0.8s, height 0.8s;
    transform: translate(-50%, -50%);
  }
  span {
    position: relative;
    z-index: 2;
    transition: color 0.8s;
  }

  &:hover {
    border-color: transparent;
    span {
      color: black;
    }
    &::before {
      width: 600px;
      height: 600px;
    }
  }
}

.andik {
  background-color: transparent;

  span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #ffcd67;
    transform: translateY(150%) rotate(45deg);
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
  }

  span:nth-child(1) {
    --n: 1;
  }

  span:nth-child(2) {
    --n: 2;
  }

  span:nth-child(3) {
    --n: 3;
  }

  span:nth-child(4) {
    --n: 4;
  }

  &:hover {
    color: var(--black);
    span {
      transform: translateY(0) scale(2) rotate(45deg);
    }
  }

}
