.grid-layer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  align-items: center;
  &__left {
    z-index: 1;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  &__right {
    z-index: 0;
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .title {
    font-size: 120px;
    margin-bottom: 0;
  }

  @media (max-width: 1400px) {
    .title {
      font-size: 95px;
    }
  }

  @media (max-width: 1250px) {
    .title {
      font-size: 80px;
    }
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 0;

    &__right {
      grid-column-start: initial;
      grid-column-end: initial;
      grid-row-start: initial;
      grid-row-end: initial;
    }
    &__left {
      grid-column-start: initial;
      grid-column-end: initial;
      grid-row-start: initial;
      grid-row-end: initial;
    }

    &__right {
      order: -1;
      img {
        height: 320px;
        width: 440px;
        object-fit: contain;
        display: block;
        margin-right: auto;
      }
    }
  }
}
