.announce-cards {
  padding: 100px 0 45px;
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
  &__item {
    border: 1px solid;
    border-color: rgba(#ffffff, 0.2);
    border-radius: 40px;
    overflow: hidden;
  }
  &__image {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
    padding: 22px;

    img {
      display: block;
      max-height: 230px;
    }
  }
  &__name {
    margin: 0;
    font-family: var(--bebas);
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__text {
    color: rgba(#ffffff, 0.7);
    margin: 0;
    padding-bottom: 21px;
    border-bottom: 1px solid;
    border-color: rgba(#ffffff, 0.2);
    margin-bottom: 23px;
    font-size: 18px;
  }
  &__body {
    padding: 48px;
    padding-top: 34px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-bottom: 24px;
    }
    li {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 16px;
      margin-bottom: 1.8em;
    }
  }
  &__label {
    color: rgba(#ffffff, 0.7);
    line-height: 1;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
  }
  &__price {
    font-family: "Jost";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    text-align: right;
    color: #00f0c0;
  }
  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    .button {
      width: initial;
      max-width: initial;
    }
  }

  @media (max-width: 1408px) {
    &__body {
      padding: 3.5em 2.5em;
    }

    &__buttons {
      gap: 16px;
    }
  }

  @media (max-width: 1260px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 960px) {
    &__body {
      padding: 2.5em;
    }
    &__buttons {
      grid-template-columns: 1fr;
    }
    &__price {
      font-size: 18px;
    }
    &__body li {
      margin-bottom: 1em;
    }
  }
  @media (max-width: 800px) {
    &__list {
      gap: 32px 16px;
    }
    &__name {
      font-size: 28px;
    }
    &__text,
    &__label,
    &__price {
      font-size: 16px;
    }
    &__text {
      padding-bottom: 1em;
      margin-bottom: 1.5em;
    }
    &__body {
      padding: 1.6em;
      padding-bottom: 2em;
    }
    &__body li {
      grid-template-columns: 1fr;
      gap: 6px;
      margin-bottom: 1.2em;
    }
    &__price {
      text-align: inherit;
    }
    .button {
      font-size: 12px;
    }
  }

  @media (max-width: 768px) {
    padding: 50px 0;
  }

  @media (max-width: 650px) {
    &__list {
      grid-template-columns: 1fr;
    }
    &__body li {
      grid-template-columns: 1fr 2fr;
    }
  }
  @media (max-width: 425px) {
    padding: 0;
  }
}
