.call-to-action {
  &__title {
    font-family: var(--bebas);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 0;
    color: #ffffff;
    font-size: 120px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 29px;
    max-width: max-content;
  }
  &__subtitle {
    margin: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.33;
    color: rgba(#ffffff, 0.7);
    margin-bottom: 24px;
  }
  .button {
    margin-right: 0;
    padding: 31px 70px;
    height: initial;
    font-size: 16px;
  }

  @media (max-width: 1400px) {
    &__title {
      font-size: 95px;
    }
  }

  @media (max-width: 1250px) {
    padding-bottom: 32px;
    &__title {
      font-size: 80px;
      margin-bottom: 0.3em;
      padding-bottom: 0.3em;
    }
  }
  @media (max-width: 1024px) {
    // &__title {
    //   font-size: 67px;
    // }
    .button {
      padding: 1.3em 3em;
      font-size: 14px;
  }
  }
  @media (max-width: 768px) {

    &__title {
      font-size: 63px;
    }
  }
  @media (max-width: 425px) {
    &__title {
      font-size: 40px;
    }
  }
}
