.footer {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--jost);

  &__flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 31px 0 32px;
    border-top: 1px solid;
    border-color: rgba(#ffffff, 0.2);
  }

  .copyright {
    margin-right: auto;
  }

  .developer-link {
    margin-left: 16px;
  }

  @media (max-width: 710px) {
    padding: 27px 0 30px;
    &__flex {
      flex-direction: column;
      align-items: flex-start;
    }
    .copyright {
      margin-bottom: 12px;
    }
    .developer-link {
      margin-left: 0;
    }
    .developer-link .icon {
      order: -1;
      margin-left: 0;
      margin-right: 10px;
    }
  }
}

.copyright {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  display: flex;
  align-items: center;

  .icon {
    margin-right: 16px;
  }
  p {
    margin: 0;
  }
  @media (max-width: 710px) {
    .icon {
      margin-right: 10px;
    }
  }
}
.icon {
  width: 40px;
}

.developer-link {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  .icon {
    margin-left: 16px;
  }
  a {
    color: var(--green);
    text-decoration: none;
    margin-left: 0.3em;
  }
}
