.personal-card {
  padding-top: 80px;

  &__grid {
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 32px;
    align-items: center;
    border-bottom: 1px solid;
    border-color: rgba(#ffffff, 0.2);
  }
  &__photo {
    img {
      display: block;
      width: 100%;
    }
  }
  &__title {
    margin: 0;
    margin-bottom: 25px;
    font-family: var(--bebas);
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__lead {
    margin: 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.33;
    color: #ffffff;
    padding-bottom: 32px;
    border-bottom: 1px solid;
    border-color: rgba(#ffffff, 0.2);
    margin-bottom: 32px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      margin-bottom: 1em;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        content: "— ";
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
        color: #00f0c0;
      }
    }
  }
  &__details {
    margin-bottom: 32px;
  }
  &__title-two {
    margin: 0;
    display: block;
    margin-bottom: 12px;
    margin-top: 24px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--white);
    font-family: var(--bebas);
  }
  &__blockquote {
    font-family: var(--jost);
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.33;
    color: #ffffff;
    padding-top: 31px;border-top: 1px solid;
    border-color: rgba(#ffffff, 0.2);
    margin-bottom: 72px;
    blockquote {
      margin: 0;
    }
  }

  // модификатор
  &--long {
    padding-top: 32px;
  }
  &--long &__grid {
    // grid-template-columns: 6fr 7fr;
    grid-template-columns: repeat(12, 1fr);
    align-items: flex-start;
    border: none;
  }
  &--long &__description {
    z-index: 1;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}
&--long &__photo {
  z-index: 0;
  grid-column-start: 6;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 1;
}
  &--long &__title {
    line-height: 1;
    font-size: 120px;
    margin-bottom: 8px;
  }
  &--long &__list {
    margin-bottom: 28px;
    padding-right: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 1440px) {
    &__grid {
      grid-template-columns: 1fr 1fr;
      gap: 24px;
      align-items: self-end;
    }
    &__title {
      margin-bottom: 0.2em;
      font-size: 64px;
      line-height: 1;
    }
    &__lead {
      font-size: 20px;
      padding-bottom: 0.8em;
      margin-bottom: 0.8em;
    }
    &__list li {
      margin-bottom: 0.5em;
    }
  }

  @media (max-width: 1000px) {
    &__grid {
      grid-template-columns: 1fr;
      border-bottom: none;
    }
    &__photo {
      border-bottom: 1px solid;
      border-color: rgba(#ffffff, 0.2);
      img {
        object-fit: contain;
        max-height: 450px;
        max-width: 425px;
        margin-right: auto;
      }
    }
    &__title {
      font-size: 55px;
      margin-bottom: 0.5em;
    }
  }

  @media (max-width: 425px) {
    padding-top: 50px;
    &__title {
      font-size: 40px;
    }
    &__lead {
      font-size: 18px;
    }
  }
}
