.personal-card {
  padding-top: 80px;

  &__grid {
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 32px;
    align-items: center;
    border-bottom: 1px solid;
  border-color: rgba(#ffffff, 0.2);
  }
  &__photo {
    img {
      display: block;
      width: 100%;
    }
  }
  &__title {
    margin: 0;
    margin-bottom: 25px;
    font-family: var(--bebas);
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__lead {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.33;
    color: #ffffff;
    padding-bottom: 32px;
    border-bottom: 1px solid;
    border-color: rgba(#ffffff, 0.2);
    margin-bottom: 30px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      // padding-left: 32px;
      margin-bottom: 1em;
      &:before {
        content: "— ";
        // display: block;
        // position: absolute;
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
        color: #00f0c0;
        // left: 0;
      }
    }
  }
}
